/* font changes */
body {
        font-family: Helvetica;
        font-size: 18px;
}
/* header/footer background */
header,footer {
    background-color: lightblue;
}
/* page heading colour */
.site-title {
    color: darkslateblue;
}
/* image shadow */
#train-image {
    box-shadow: 0px 0px 2px 1px #000;
}
/* hobbies list changes */
#hobbies {
    list-style-type: square;
}
#hobbies li:nth-child(odd) {
    background-color: lightgrey;
}
/* nav style */
nav ul {
    list-style-type: none;
}
nav ul a {
    text-decoration: none;
    background-color: cyan;
    border-style: double;
}
nav ul a:hover {
    background-color: darkcyan;
}
/* ᓚᘏᗢ validated as of week 5 */