body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
    box-sizing: border-box;
    line-height: 1.4rem;
}

/* general text styling here, to make up for reset */

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 7rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

h4 {
  font-weight: 700;
}

p {
  margin: 1rem 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

/* everything below styles nav */

.navbg {
  background-color: #222;
}

nav ul li {
  text-align: center;
  padding: 1.5rem;
}

nav ul li a {
  color: #c78c06;
  text-decoration: none;
}

/* specifically targets home option, allowing for separate bg and text colour */

nav ul li:nth-child(1) {
  background-color: #c78c06;
}

nav ul li:nth-child(1) a {
  color: #222;
}

.logobg {
  background-color: #c78c06;
}

/* everything here styles search bar, using calc to stay at full width while keeping space for button */

#searchbar {
  box-sizing: border-box;
  margin: 0;
  height: 2rem;
  width: calc(100% - 2.5rem);
}

nav form label {
  display: none;
}

nav form button {
  color: #c78c06;
  border: #c78c06 1px solid;
  background-color: #222;
  height: 2rem;
  width: 2rem;
  margin: 0;
}

/* this section styles the header, adding a full-sized background image, solid colour in case image fails for whatever reason, and the semi opaque second background layered on top */

.headerbg {
  background-color: #ffe6ac;
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  width: 100%;
  padding: 4rem 0 4rem;
}

.headerbgdark {
 background-color: rgba(2, 2, 2, 0.5);
 padding-top: 4rem;
}

.headerbgdark .wrapper {
  color: white;
}

.headerbutton {
  background-color: #c78c06;
  border: none;
  font-size: 1.5rem;
  padding: 2rem;
}

/* about style here */

.aboutbg {
  background-color: #ffe6ac;
}

#about img {
  width: 100%;
}

/* services style here */

#services article {
  margin: 1rem 0;
  background-color: #ffe6ac;
}

#services article img {
  width: 100%;
}

/* needed margin on all tags except image */

#services article h3,#services article p,#services article button {
  margin: 1rem;
}

#services article button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 2rem;
}

/* vision section below. background uses same methods as about */

.visionbg {
  background-color: #222;
  background-image: url(../images/vision.jpg);
  background-size: cover;
  color: white;
}

/* styling button, same methods as earlier buttons */

.visionbg div article button {
  background-color: rgba(2, 2, 2, 0.5);
  color: white;
  border: #c78c06 1px solid;
  font-size: 1.5rem;
  padding: 2rem;
}

/* styles team. float will be used for desktop, but unneccesary for mobile. using border to add horizontal lines beneath titles. unable to remove gap between images and info? */

.flex div {
  background-color: #ffe6ac;
  padding: 1rem;
  margin-bottom: 1rem;
}

.flex img {
  width: 100%;
}

.flex div h3 {
  margin: 0;
}

.flex div h4 {
  border-bottom: #c78c06 2px solid;
  margin: 0.5rem 0;
}

/* styles contact */

#contact div form label {
  display: block;
  margin: 0.5rem 0 0.25rem;
}

.contactfield {
  width: 100%;
  height: 1.5rem;
}

#message {
  height: 6rem;
}

.contactbutton {
  background-color: #222;
  color: #c78c06;
  border: none;
  padding: 0.25rem;
  font-size: 1.25rem;
}

/* styles opening hours using grid, assigning proper grid item sizes, adding borders, and changing style for days and hours items */

.hourstable {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hourstable p {
  border: black 1px solid;
  padding: 1rem;
  margin: 0;
}

.hourslabel {
  background-color: #ffe6ac;
  text-align: center;
}

/* styles map. height required, 400px chosen as it should look presentable in most widths */

iframe {
  width: 100%;
  height: 400px;
}